/ARCHIVE/
/Dóri_codes/
/Exacutables/tree.jpg
/Exacutables/tree.dot
/Exacutables/Test2.py
/Exacutables/TEST.py
/Exacutables/Regression_Analysis.py
/Exacutables/Build_Raw_Data_Matrix.py
/venv/
/Archive.zip
/runexp-slurm-singularity.sh
